* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}
h1 {
    margin-block: 4rem;
}

.box {
    width: 300px;
    height: 300px;
    padding: 4rem;
    margin-block: 1rem;
    /* box-sizing: content-box;  - this take more value along with padding, border, margin */
    /* box-sizing: border-box; this calculate within the width and height (dimenstions) */
    border: 10px dotted black;
}

#border-box {
    background-color: blanchedalmond;
}

#content-box {
    background-color: aquamarine;
}