body {
    min-height: 100vh;
    background-color: rgb(170, 185, 129);
    /* overflow-y: hidden; */
}

.plate-container, .plates{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    /* height: 100vh; */
}

.plate-container button {
    background-color: white;
    color: black;
    padding: 0.5rem;
}

.plate {
    width: 20vw;
    height: 1.25rem;
    background-color: white;
    border-radius: 0.625rem;
}

#newplate {
    width: 20vw;
    height: 1.25rem;
    background-color: rgb(194, 42, 42);
    border-radius: 0.625rem;
}